extends layout

block scripts
  script(src='/javascripts/client.js')

block content
  div.landing
    div.nav
      a(href='/')
        h1.logo Lorem Wisdom
      ul.clearfix
        li.demo.button Demo
        a(href='/docs')
          li.button API
    div.dynamic
      div.box
        h2.category Facts
        div.item.facts
          p.fact
      div.box
        h2.category Quotes
        div.item.quotes
          p.quote
      div.box
        h2.category Paragraphs
        div.item.paragraphs
          pre.paragraph
