extends layout

block content
  div.landing
    div.nav
      h1.logo Lorem Wisdom
      ul.clearfix
        li.demo.button Demo
        li.button API
    div.dynamic
      div.box
        h2.category Facts
        div.item.facts
          p.fact
      div.box
        h2.category Quotes
        div.item.quotes
          p.quote
