doctype 5
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Clicker+Script&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    block content
