.heading
  text-align center
  .logo
    margin-bottom 0
  .title
    margin-top 0
    font-family Helvetica, Arial, sans-serif
    color #fefefe
    font-weight 100

.doc
  width 420px
  padding-left 180px

code
  background-color #fff
