.wrapper
  text-align center

.heading
  .logo
    margin-bottom 0
  .title
    margin-top 0
    font-family Helvetica, Arial, sans-serif
    color #fefefe
    font-weight 100
  code
    text-align left
    min-width 600px
